<?xml version="1.0" encoding="windows-1251"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.mike.com/berezhkov/huawei/CPoCP"
			class = "com.mike.berezhkov.huawei.cPoCP.CPoCPPackage"
			genModel = "model/generated/CPoCP.genmodel" />
	</extension>
</plugin>
